.parent{
    
    width: 70%;
    margin: 0;
    padding: 0;
    padding-bottom:-2%;
     margin-left: 15%;
}

.title {
    background-color: #2d3436;
    color: white;
    width: 100%;
}
.title span ,.List span{
    display: inline-block;
    text-align: center;
    border: 1px solid gray;
    margin: 0;
    padding: 0;
    
}
.List{
    background-color: white; 
    width: 100%;
    color: #2d3436;
}
.name{
    width: 50%;
   
}
.age{
    width: 30%;
}
.action{
    width: 19%;
    cursor: pointer;
}
.List .action:hover{
    color: red;
}